* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body {
    height: 100%;
    background: url(../img/main-pic.png) repeat;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-weight: bolder;
}

.content {
    flex: 1 0 auto;
    padding: 1rem;
}

.container {
    margin: 0 auto;
}

.title {
    text-align: center;
}

.fw-bold > .icons {
    float: right;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 70px;
    width: 70px;
}

.font-size {
    font-size: larger;
}

.copyright-text {
    font-size: 12px;
}


.list-group, .width {
    padding-bottom: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.list-group-item {
    background-image: linear-gradient(to left, #b9d7df, #1c7d94);
}

.buttons {
    text-align: center;
    
}

footer {
    flex: 0 0 auto;
    padding: 1rem;
    background: hwb(191deg 18% 5%);
    color: rgb(27 93 108);
}

.footer-title {
    font-weight: 600;
    font-size: 15px;
}

.footer-text {
    font-size: 12px;
}