{% extends 'base.html' %}
{% block title %}Record confirm delete{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Are you sure you want to delete the record?</h1>
    <div class="row row-cols-1 g-4">
        <div class="col">
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            {{ record.author_name }} ({{ record.mail }})
                        </div>
                        <br>
                        <div class="fw-bold">
                            {{ record.text }}
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <span class="button_padding"><a href="{% url 'confirm_delete' record.pk %}" class="btn btn-danger">Yes</a></span>
    <span class="button_padding"><a href="{% url 'index' %}" class="btn btn-info">No</a></span>
</div>

{% endblock %}